
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




#centro{

    position: absolute;

top: 50%;
left: 50%;

    transform: translate(-50%,-50%);

}

#imgf
{
  text-align: center; 
position: relative;

top: -150px;
 margin-top: 1px;
}

#logo{
height: 150px;
    border-radius: 200px;


}



body
{
background-color: rgb(30, 121, 196);
justify-content: center;
    overflow-x: hidden;
}


#botaof{

position: relative;
border: 1px solid black;
border-radius: 50px;
    background-color: rgb(23, 70, 108);
 display: flex;
 justify-content: center;
height: 30px;
width: 100px;

top:-90px;
left: 25px;

box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);

}

.botao{

    width: 152px;
    height: 30px;
  

display: flex;
 justify-content: center;

 border-bottom: 0cap;

}

.botao p
{

font-size: 21px;  
flex: 1;
margin: 1px;

}

.botao i{
  left: 1px;
position: relative;
top: 5px;
flex: 2;

}
a{
    text-decoration: none;
    color: black;
}



#botaof2{

position: relative;
border: 1px solid black;
border-radius: 50px;
    background-color: rgb(23, 70, 108);
 display: flex;
 justify-content: center;
height: 30px;
width: 100px;

top:-60px;
left: 25px;

box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);

}

.botao2{

    width: 152px;
    height: 30px;
  

display: flex;
 justify-content: center;

 border-bottom: 0cap;

}

.botao2 p
{
position: relative;
font-size: 18px;  
flex: 1;
margin: 1px;
top: 2;
margin: 1;
}

.botao2 i{
  left: 1px;
position: relative;
top: 5px;
flex: 2;

}
a{
    text-decoration: none;
    color: black;
}

#ss{
position: relative;
    height: 100%;
width: auto;
    left: 10%;
    z-index: -1;
    display: flex;
    justify-content: center;

}

